<ons-page ng-controller="OptionsController">
        
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Seva60Plus</div>
    </ons-toolbar>
    <ons-row align="center">
        <ons-col><div class="grid-menu" style="border:1px solid #cecece;" ng-click="showPage('sleep')"><div class="centering-and-alignment"><div class="grid-menu-item list__item" style="border-bottom: none !important;"><ons-icon icon=""></ons-icon><div class="grid-menu-item-label">SLEEP</div></div></div></div></ons-col>
        <ons-col><div class="grid-menu" style="border:1px solid #cecece;" ng-click="showPage('exercise')"><div class="centering-and-alignment"><div class="grid-menu-item list__item" style="border-bottom: none !important;"><ons-icon icon=""></ons-icon><div class="grid-menu-item-label">EXERCISE</div></div></div></div></ons-col>
        <ons-col><div class="grid-menu" style="border:1px solid #cecece;" ng-click="showPage('mood')"><div class="centering-and-alignment"><div class="grid-menu-item list__item" style="border-bottom: none !important;"><ons-icon icon=""></ons-icon><div class="grid-menu-item-label">MOOD</div></div></div></div></ons-col>
    </ons-row>
        
        
    </ons-page>